In [1]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count,sum,avg,min,max,col,lit

spark = SparkSession.builder.appName('Dataframe Groupby').getOrCreate()

In [6]:
df = spark.read.options(inferSchema='True', header='True').csv('data/Student_Data.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

#### No of Students per course

In [8]:
df.groupBy('course').count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [9]:
df.groupBy('Course').agg(count('name')).show()

+------+-----------+
|Course|count(name)|
+------+-----------+
|    PF|        166|
|    DB|        157|
|   MVC|        157|
|   DSA|        176|
| Cloud|        192|
|   OOP|        152|
+------+-----------+

#### Total Male and Females in each course

In [12]:
df.groupBy('course','gender').agg(count('*')).orderBy('course','gender').show()

+------+------+--------+
|course|gender|count(1)|
+------+------+--------+
| Cloud|Female|     106|
| Cloud|  Male|      86|
|    DB|Female|      75|
|    DB|  Male|      82|
|   DSA|Female|      98|
|   DSA|  Male|      78|
|   MVC|Female|      71|
|   MVC|  Male|      86|
|   OOP|Female|      82|
|   OOP|  Male|      70|
|    PF|Female|      69|
|    PF|  Male|      97|
+------+------+--------+

#### Total Marks achieved by each gender in each course

In [15]:
df.groupBy('course','gender').agg(sum('marks')).orderBy('course','gender').show()

+------+------+----------+
|course|gender|sum(marks)|
+------+------+----------+
| Cloud|Female|      6316|
| Cloud|  Male|      5127|
|    DB|Female|      4197|
|    DB|  Male|      5073|
|   DSA|Female|      6124|
|   DSA|  Male|      4826|
|   MVC|Female|      4344|
|   MVC|  Male|      5241|
|   OOP|Female|      4682|
|   OOP|  Male|      4234|
|    PF|Female|      3973|
|    PF|  Male|      5960|
+------+------+----------+

#### Marks by each age group

In [17]:
df.groupBy('course','age').agg(min('marks').alias('min_marks'), max('marks').alias('max_marks'), avg('marks').alias('avg_marks')).show()

+------+---+---------+---------+------------------+
|course|age|min_marks|max_marks|         avg_marks|
+------+---+---------+---------+------------------+
|   MVC| 28|       23|       99| 60.44444444444444|
|   MVC| 29|       22|       99| 61.56470588235294|
| Cloud| 28|       20|       99|             58.08|
|    PF| 29|       20|       99|56.275862068965516|
|    PF| 28|       20|       98| 63.75949367088607|
|   OOP| 29|       20|       99|59.729729729729726|
|   DSA| 28|       20|       99|  64.6867469879518|
| Cloud| 29|       21|       98|             61.25|
|    DB| 28|       21|       98| 58.76829268292683|
|   DSA| 29|       20|       99| 60.01075268817204|
|   OOP| 28|       23|       99| 57.64102564102564|
|    DB| 29|       20|       98|59.346666666666664|
+------+---+---------+---------+------------------+

In [18]:
spark.stop()